/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1dd1a1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.doc-menu{
	position: sticky !important;
	height: 100vh !important;
	overflow-y: scroll !important;
}

.type-header{
	background-color: #ff9f1a !important;
	color: white !important;
}

.type-body{
	background-color: #8e44ad !important;
	color: white !important;
}

.type-query{
	background-color: #3498db !important;
	color: white !important;
}

#iudx_entity{
	display: none !important;
}

pre{
	font-size: 15px !important;
}

.footer{
	height: 70px !important;
}

.full-width{
	width: 100% !important;
	margin: none !important;
	padding: none !important;
}

.mg{
	margin: 5px;
}